html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.3;
    background-color: $veryLightGray;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.bt-red {
    border-top: 3px solid $red;
}

.bt-cyan {
    border-top: 3px solid $cyan;
}

.bt-orange {
    border-top: 3px solid $orange;
}

.bt-blue {
    border-top: 3px solid $blue;
}